$colors: #1abc9c, #16a085, #2ecc71, #27ae60, #3498db, #9b59b6, #f1c40f, #f39c12,#e74c3c, #7f8c8d;
$repeat: 20;

#country-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 150px;
    cursor: pointer;
    margin: 1rem;

    &:hover {
      opacity: 0.8;
    }

    @for $i from 1 through $repeat {
      &:nth-child(#{length($colors)}n + #{$i}) {
        $color: lighten(nth($colors, random(length($colors))), 20%);
        background: $color;
        color: darken($color, 42%);
      }
    }

    .code {
      font-size: 2rem;
    }

    .name {
      font-size: 1.25rem;
    }

    .languages {
      font-style: italic;
      font-size: 0.9rem;
    }
  }
}
